<h1>Hello, world!</h1>
<p>Welcome to your new online shop</p>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="product-card">
        <div class="img-card">
          <img src="assets\Football\fc-barcelona2.jpg" alt="Alternate Text" />
        </div>
        <div class="info-card">

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="product-card">
        <div class="img-card">
          <img src="assets\Football\fc-barcelona2.jpg" alt="Alternate Text" />
        </div>
        <div class="info-card">

        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="product-card">
        <div class="img-card">
          <img src="assets\Football\fc-barcelona2.jpg" alt="Alternate Text" />
        </div>
        <div class="info-card">

        </div>
      </div>
    </div>

  </div>


</div>


